### Laravel ###
/vendor/
.env
node_modules/
npm-debug.log
yarn-error.log
mysql/
mysql/laraapp_db/.*
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/app/

tags
tags.lock
tags.temp

